<div class="container p-4">
	<div class="row">
		{{# each inversion}}
			<div class="col-md-3">
				<div class="card text-center">
					<div class="card-body">
						<p class="m-2">Total Invertido: {{cantidad}}</>
						<p class="m-2">Total a Recolectar: {{total}}</p>
						<p class="m-2">Clientes: {{clientes}}</p>
						<p clas="m-2">Total Pagado: {{cantidadpagada}}</p>
						<p class="m-2">Intereses: {{interes}}</p>
						<p class="m-2">Total Pendiente: {{pendiente}}</p>
						
					</div>
				</div>
			</div>
			{{else}}
				<div class="col-md-4 mx-auto">
					<div class="card card-body text-center">
						<p>There are not customers added yet!</p>
						<a href="/links/add">Add one!</a>
					</div>
				</div>

		{{/each}}
	</div>
</div>