<div class="container">
	{{# each inversion}}
		<table class="table table-responsive">
			<thead>
				<tr>
					<th scope="col">Total Invertido</th>
					<th scope="col">Total a Recolectar</th>
					<th scope="col">Clientes</th>
					<th scope="col">Cantidad Pagada</th>
					<th scope="col">Intereses</th>
					<th scope="col">Cantidad No Pagada</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{cantidad}}</td>
					<td>{{total}}</td>
					<td>{{clientes}}</td>
					<td>{{cantidadpagada}}</td>
					<td>{{interes}}</td>
					<td>{{pendiente}}</td>
				</tr>
			</tbody>

		</thable>

	{{/each}}
</div>


















