<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>

<div class="container p-5">
	<form method="get" action="links/list">
		<input type="text" class="form-control my-2 col-md-3 light-table-filter" data-table="order-table" placeholder="Buscar cliente" name="search" id="search">
	</form>

	{{# each clientes}}
		<table id="customer-table" class="table table-responsive">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nombre</th>
					<th scope="col">Cantidad</th>
					<th scope="col">Total a Pagar</th>
					<th scope="col">Cantidad Pagada</th>
					<th scope="col">Ultimo Pago</th>
					<th scope="col">Fecha de Inicio</th>
					<th scope="col">Accion</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{id}}</td>
					<td>{{fullname}}</td>
					<td>{{cantidad}}</td>
					<td>{{totalpagar}}</t>
					<td>{{cantidadpagada}}</td>
					<td>{{ultimopago}}</td>
					<td>{{fecha}}</td>
					<td>
						<a href="/links/delete/{{id}}" class="btn btn-danger">Eliminar</a>
						<a href="/links/edit/{{id}}" class="btn btn-primary" >Editar</a>

					</td>
				</tr>
			</tbody>
		 
		</table>
	{{/each}}

</div>

<script>
	 $(document).ready(function(){  
           $('#search').keyup(function(){  
                search_table($(this).val());  
           });  
           function search_table(value){  
                $('#customer-table tr').each(function(){  
                     var found = 'false';  
                     $(this).each(function(){  
                          if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)  
                          {  
                               found = 'true';  
                          }  
                     });  
                     if(found == 'true')  
                     {  
                          $(this).show();  
                     }  
                     else  
                     {  
                          $(this).hide();  
                     }  
                });  
           }  
      });  
</script>
