<div class="container p-5">
	<input type="text" class="form-control my-2 col-md-3 light-table-filter" data-table="order-table" placeholder="Buscar cliente" id="buscar" onkeyup="">

	{{# each clientes}}
		<table id="resultado" class="table table-responsive">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nombre</th>
					<th scope="col">Cantidad</th>
					<th scope="col">Total a Pagar</th>
					<th scope="col">Cantidad Pagada</th>
					<th scope="col">Ultimo Pago</th>
					<th scope="col">Fecha de Inicio</th>
					<th scope="col">Accion</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{id}}</td>
					<td>{{fullname}}</td>
					<td>{{cantidad}}</td>
					<td>{{totalpagar}}</t>
					<td>{{cantidadpagada}}</td>
					<td>{{ultimopago}}</td>
					<td>{{fecha}}</td>
					<td>
						<a href="/links/delete/{{id}}" class="btn btn-danger">Eliminar</a>
						<a href="/links/edit/{{id}}" class="btn btn-primary" >Editar</a>

					</td>
				</tr>
			</tbody>
		 
		</table>
	{{/each}}

</div>

