<div class="container p-4">
	<div class="row">
		{{# each clientes}}
			<div class="col-md-3">
				<div class="card text-center">
					<div class="card-body">
						<h3 class="card-title text-uppercase">
							{{fullname}}
						</h3
						<p class="m-2">Cantidad: {{cantidad}}</>
						<p class="m-2">{{totalpagar}}</p>
						<p class="m-2">{{cantidadpagada}}</p>
						<p>Desde:{{timeago created_at}}</p>
						<p>Ulitmo pago:{{timeago ultimopago}}</p>
						<a href="/links/delete/{{id}}" class="btn btn-danger">Delete</a>
						<a href="/links/edit/{{id}}" class="btn btn-primary">Edit</a>
					</div>
				</div>
			</div>
			{{else}}
				<div class="col-md-4 mx-auto">
					<div class="card card-body text-center">
						<p>There are not customers added yet!</p>
						<a href="/links/add">Add one!</a>
					</div>
				</div>

		{{/each}}
	</div>
</div>